.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 740%;
    /* background-color: rgb(145, 125, 55); */
    background-image: url('../../images/long_bg.png');
    background-size: 100% 100%;
}

@media only screen and (max-width: 600px) {
    .app{
        height: 800%;
    }
}
