h2 {
    color: white;
}

.scrolling-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    height: 250px;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scroll-images {
    margin-right: 3px;
    width: 150px;
    height: 200px;
    background: black;
}

@media only screen and (max-width: 600px) {
    .scrolling-wrapper {
        width: 80%;
    }
}