.theme {
    width: 100%;
    height: 100%;
    background-image: url('../../images/temple.png');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 96px;
    letter-spacing: 36px;
}

@media only screen and (max-width: 600px) {
    .theme {
        height: 500vh;
    }
}