.navbar {
    width: 60%;
    height: 400px;
    position: sticky;
    margin-top: 20px;
    top: 20px;
    background-image: url('../../images/navbar.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

.nav-options {
    font-size: 20px;
    font-family: Copperplate Gothic Light;
    font-weight: 900;
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}